// COLORS
$primary: #1cc691;
$secondary: #323232;
$border: #cbcbcb;
$light-orange: #FFF4E6;
$dark-orange: #D0784E;
$light-green: #e8f9f4;
$mid-gray: #9e9e9e;
$light-gray: #f1f1f1;

// EXTENDS
%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-start {
	display: flex;
	justify-content: start;
	align-items: center;
}

%flex-column {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

%flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

// FONTS
@font-face {
	font-family: iubendaBold;
	src: url(../fonts/hk-grotesk/HKGrotesk-BoldLegacy.otf);
}
@font-face {
	font-family: iubendaMedium;
	src: url(../fonts/hk-grotesk/HKGrotesk-Medium.otf);
}
@font-face {
	font-family: iubendaRegular;
	src: url(../fonts/hk-grotesk/HKGrotesk-Regular.otf);
}
@font-face {
	font-family: iubendaLight;
	src: url(../fonts/hk-grotesk/HKGrotesk-Light.otf);
}

// RESET
* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html,
body {
    font-family: iubendaRegular;
	font-size: 16px;

	@media (min-width: 900px) {
		font-size: 20px;
	}
}

// NATIVE
body {
	background-color: $light-gray;
}

h2 {
	color: $secondary;
	font-family: iubendaBold;
	font-size: 1.5rem;
	letter-spacing: -1px;
}

h4 {
	color: $secondary;
	font-family: iubendaBold;
	font-size: 1.3rem;
	letter-spacing: -0.7px;
	padding-bottom: 0.5rem;
}

h5 {
	color: $secondary;
	font-family: iubendaBold;
	font-size: 1rem;
}

p {
    font-family: iubendaRegular;
	color: $secondary;
    letter-spacing: -0.5px;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: $secondary;
	font-family: iubendaBold;
	letter-spacing: -0.5px;
	margin: 0 1rem;
}

label {
	user-select: none;
}